# ===============================
# Git
# ===============================
.git
.gitignore

# ===============================
# IDE
# ===============================
.idea
*.iml
.vscode/


# ===============================
# Build output
# ===============================
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
out

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Env files
# ===============================
.env
.env.*
*.md