spring:
  datasource:
    url: ${MYSQL_DATASOURCE_URL:jdbc:mysql://localhost:3306/taskdb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC}
    username: ${MYSQL_DATASOURCE_USERNAME:root}
    password: ${MYSQL_DATASOURCE_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  front-end: ${FRONTEND_URL:http://localhost:5173/}