name: CI/CD - Build and Push Docker Image

on:
  push:
    branches:
      - prod
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker Images to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 1. Extract Metadata for Backend
      - name: Extract Backend Metadata
        id: meta-backend
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/task-backend
          tags: |
            type=raw,value=latest
            type=sha,format=short
            type=ref,event=branch

      # 2. Build and Push Backend
      - name: Build and push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./Task
          file: ./Task/Dockerfile
          push: true
          tags: ${{ steps.meta-backend.outputs.tags }}
          labels: ${{ steps.meta-backend.outputs.labels }}

      # 3. Extract Metadata for Frontend
      - name: Extract Frontend Metadata
        id: meta-frontend
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/task-ui
          tags: |
            type=raw,value=latest
            type=sha,format=short
            type=ref,event=branch

      # 4. Build and Push Frontend
      - name: Build and push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./task-ui
          file: ./task-ui/dockerfile
          push: true
          tags: ${{ steps.meta-frontend.outputs.tags }}
          labels: ${{ steps.meta-frontend.outputs.labels }}